* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}


/* Подключение Montserrat Regular (обычное начертание) */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400; /* Нормальный вес */
    font-style: normal; /* Обычный стиль (не курсив) */
}

/* Подключение Montserrat Light (светлое начертание) */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300; /* Светлый вес */
    font-style: normal; /* Обычный стиль */
}

/* Подключение Montserrat Light Italic (светлое курсивное начертание) */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300; /* Светлый вес */
    font-style: italic; /* Курсивный стиль */
}

/* Подключение Montserrat Black Italic (чёрное курсивное начертание) */
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900; /* Чёрный вес */
    font-style: italic; /* Курсивный стиль */
}



:root{
    font-size: 5px;
}

body{
    background: black;
}


.container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.headerSection{
    color: white;
    background-image: url('./SectionHeader.png');
    background-size: 100% auto;
    background-position: center top;
    min-height: 59rem;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position: relative;
    z-index: -1;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* padding-bottom: 25%; */
    padding-bottom: 15rem;
}

.header_logo{
    width: 22rem;
}

.menu-btn {
    width: 3.1rem;
    margin-right: 2rem;
    cursor: pointer;
}

.menu-btn div+div {
    margin-top: 0.3rem;
}

.menu-btn div {
    height: 0.5rem;
    background: white;
}

.headerSection_title{
    text-align: center;
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2rem;
}

.headerSection_title b {
    font-weight: 900; 
}

.decorationWrapper{
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.537);
    border-radius: 15px;
    margin-bottom: 6rem;
}

.decorationWrapper .decorationWrapper_text{
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #eeeeee;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.buttonWrapper a{
    width: 31rem;
    padding: 3rem;
    font-size: 2.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background: #f62c84;
    text-align: center;
    border-radius: 2rem;
}

main{
    margin-top: -2rem;
    z-index: 1;
}

.whiteSection{
    border-radius: 2rem;
    background-color: white;
}


@media (max-width: 300px) {
    :root {
        font-size: 1.5vw;
    }
}

@media (min-width: 350px){
    :root {
        font-size: 5.5px;
    }
}



@media (min-width: 400px){
    :root {
        font-size: 6.5px;
    }
}

@media (min-width: 450px){
    :root {
        font-size: 7.3px;
    }
}

@media (min-width: 500px){
    :root {
        font-size: 8px;
    }
}

@media (min-width: 550px){
    :root {
        font-size: 9px;
    }
}

@media (min-width: 640px){
    :root {
        font-size: 10px;
    } 
}